# Ignore les environnements virtuels
venv/

# Fichiers générés par Python
__pycache__/
*.py[cod]
*.pyo

# Fichiers de configuration spécifiques à l'environnement
*.env
*.DS_Store

# Fichiers et données générées
*.log
*.sqlite3
*.db

# Fichiers de sauvegarde ou temporaires
*.swp
*.bak
*.tmp

# Images et données volumineuses si elles ne sont pas nécessaires
*.png
*.jpg

# Exclure les fichiers de modèle compilé ou de résultats intermédiaires
*.pkl
